<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('list_cron_jobs')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('add_cron_job')}}">
            <i class="far fa-calendar-check"></i>
            <span>Add new job</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('list_cron_reports')}}">
            <i class="fas fa-file-alt"></i>
            <span>Job Reports</span></a>
    </li>
</ul>